.coin-container{
  margin-top: 4rem;
}

.navbar-brand{
  font-size: 1.7rem !important;
  font-weight: 500 !important;
}

.nav-link{
  color: #000 !important;
  font-weight: 500 !important;
}

.dropdown{
  margin-left: 10px !important;
}

.table{
  font-size: 14px !important;
}

.table tr{
  font-weight: 500 !important;
}

.table>:not(:first-child) {
  border-top: 1px solid currentColor !important;
}